<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twig</title>
</head>
<body>
<h1>twig - node template engine</h1>
<div id="container" class="col">
    <p>You are amazing</p>
    <p>Twig is a terse and simple templating language with a strong focus on performance and powerful features.</p>
</div>
</body>
</html>