# Created by .ignore support plugin (hsz.mobi)
/node_modules/
/static/images/posts/
.idea/
.vscode/
static/images/users/
static/images/items/
dist/
*.txt
/system/helper
bin/
src/storage/
-starter-template/node_modules
-starter-template/node_modules/.bin/acorn
-starter-template/.env.development